{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}

        <section class="row">

            <div class="col-10 offset-1">

                <h2 class="my-4">Se en‑registrer</h2>

                {{ form(form) }}

            </div>

        </section>
{% endblock %}
